/* Import this in your entry file of libary*/

:root {
  /*  Colors */
  --primaryColor: #dfeffc;
  --primaryColorDark: #abd9fe;
  --colorWhite: #fff;
  --colorBlack: #000;
  --placeholderTextColor: #757575;
  --toolbarBorderColor: #b2b2b2;
  --editorBorderColor: #b2b2b2;
  --linkInputBorderColor: #e7e7e7;
  --linkCancelButtonHoverColor: #e7e7e7;

  /* Border Radius */
  --borderRadius: 2px;
  /* Box shadwow*/
  --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --boxShadowFilterButton: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
